---
import Layout from '../../../layouts/Layout.astro';

const headers = { 'Content-Type': 'application/json'};
const postSlug = Astro.params.postSlug;
const postData = await fetch( "https://bornancient.shop/graphql", {
	method: 'post',
	headers,
	body: JSON.stringify({
		query: `{
					post(id: "${postSlug}", idType: SLUG) {				
                        content
                        title
                        date
                        databaseId
                        id
                        uri
                        slug
					}
			}`
		})
	}).then(data => data.json())

const post = postData?.data?.post;
const title = "Born Ancient - "+ post.title;
---

<Layout title={title}>
	<nav aria-label="Breadcrumb">
		<ul class="uk-breadcrumb">
			<li><a href="/">Home</a></li>
			<li><span>{post.title}</span></li>
		</ul>
	</nav>

	<div class="">
		<div class="uk-card uk-card-default uk-card-body">

			<h1 class="uk-card-title">{post.title}</h1>
		
			<p class="uk-article-meta">{new Date(post.date).toLocaleString()}</p>
		
			<p class="uk-text-lead" set:html={post.content}></p>
		
		</div>
	</div>
</Layout>

<style>
		
</style>
