---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const headers = { 'Content-Type': 'application/json'};
const postData = await fetch( "https://bornancient.shop/graphql", {
	method: 'post',
	headers,
	body: JSON.stringify({
		query: `{
					posts {
						nodes {
							content
							title
							excerpt
							slug
						}
					}
			}`
		})
	}).then(data => data.json())

const posts = postData?.data?.posts?.nodes;

const productData = await fetch( "https://bornancient.shop/graphql", {
	method: 'post',
	headers,
	body: JSON.stringify({
		query: `{
					products {
						nodes {
							productId
							productTitle
							productURL
							productImage {
								mediaItemUrl
							}
						}
					}
			}`
		})
	}).then(data => data.json())

const products = productData?.data?.products?.nodes;

---

<Layout title="Born Ancient - Home">
	<main>
		<h1>Born Ancient Shop</h1>
		<div class="uk-margin">
			<div class="uk-grid uk-grid-medium uk-text-center" uk-grid>

				{
					posts.map(post => 
						<div class="uk-width-1-1">
							<Card href={post.slug} title={post.title} body={post.excerpt}/>
						</div>
					)
				}	
			</div>
		</div>
		<h1>Products</h1>
		<div class="uk-margin">
			<div class="uk-grid uk-grid-medium uk-text-center" uk-grid>

				{
					products.map(product => 
						<div class="uk-width-1-1">
							<Card href={product.productURL} title={product.productTitle} body="product"/>
						</div>
					)
				}	
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
