---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const headers = { 'Content-Type': 'application/json'};
const postData = await fetch( "https://bornancient.shop/graphql", {
method: 'post',
headers,
body: JSON.stringify({
	query: `{
				posts {
					nodes {
						content
						title
						excerpt
						slug
					}
				}
		}`
	})
}).then(data => data.json())

const posts = postData?.data?.posts?.nodes;

const productData = await fetch( "https://bornancient.shop/graphql", {
method: 'post',
headers,
body: JSON.stringify({
	query: `{
				products {
					nodes {
						productId
						productTitle
						productURL
						productImage {
							mediaItemUrl
						}
					}
				}
		}`
	})
}).then(data => data.json())

const products = productData?.data?.products?.nodes;

---

<Layout title="Born Ancient - Home">
	<div class="uk-grid uk-grid-medium uk-text-center" uk-grid>
		{
			posts.map(post => 
				<div class="uk-width-1-1">
					<Card href={post.slug} title={post.title} body={post.excerpt}/>
				</div>
			)
		}	
	</div>
	<!-- <div class="uk-margin">
		<div class="uk-grid uk-grid-medium uk-text-center" uk-grid>

			{
				products.map(product => 
					<div class="uk-width-1-1">
						<Card href={product.productURL} title={product.productTitle} body="product"/>
					</div>
				)
			}	
		</div>
	</div> -->
</Layout>

<style>

</style>
