---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const headers = { "Content-Type": "application/json" };
const productData = await fetch("https://bornancient.shop/graphql", {
    method: "post",
    headers,
    body: JSON.stringify({
        query: `{
				products {
					nodes {
						productId
						productTitle
						productURL
						productImage {
							mediaItemUrl
						}
					}
				}
		}`,
    }),
}).then((data) => data.json());

const products = productData?.data?.products?.nodes;
const title = "Born Ancient - Products";
---

<Layout title={title}>
    <div class="uk-grid-match uk-child-width-1-1 uk-child-width-expand@s uk-text-center uk-flex uk-flex-center" uk-grid>
        {
            products.map((product, index) => (
                <div class="">
                    <Card href={product.productURL}
                          name={product.productTitle}
                          body={product.productTitle}
                          featured_media={product.productImage[0].mediaItemUrl} />
                </div>
            ))
        }
    </div>
</Layout>

<style></style>
